@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white font-sans min-h-screen flex items-center justify-center;
    background-image: linear-gradient(to bottom, rgba(5, 46, 22, 0.85), rgba(5, 46, 22, 0.7)), url('/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-700 rounded-full;
}